body{
    background-color:skyblue;
}
h1{
    text-align: center;
}
section{
    width: 80%;
    margin: 2em auto;
    padding: 2em 1em;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 10px 10px 10px;
}
button{
    border-radius: 5px;
    background-color: gray;
    color: white;
    cursor: pointer;
}